<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs"); %>
    <title>Document</title>
</head>
<body>
    
    <%- include("../fragmente/header.ejs"); %>

    <main>
        <h2>Altă pagină</h2>
        <p>Acesta este un paragraf.</p>
    </main>

    <%- include("../fragmente/footer.ejs"); %>
</body>
</html>