<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Anticariatul Libri Mundi - Despre noi</title>
     
        <%- include("../fragmente/head.ejs"); %>

        <!-- resurse specifice paginii principale -->
        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css" />

    </head>
    <body>
        <%- include("../fragmente/header.ejs"); %>

        <main>
           <div style="padding:1rem;">
                
                <section id="#prezentare">
                    <h2>Prezentare</h2>
                    <p>Aici ar trebui să spunem câteva lucruri despre noi, care să mențină vii atenția și interesul vizitatorilor noștri. Din lipsă de timp, vom apela la lorem ipsum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tenetur pariatur rem repellat quas excepturi eius unde nulla, asperiores, porro fuga maxime sunt quasi similique voluptas commodi! Fuga, animi eius?
                    Tempore atque modi necessitatibus tempora id, facilis error omnis architecto doloribus voluptatum dicta mollitia repellat hic earum, rem sed porro laudantium dolore, corrupti repellendus. Illo quod atque aliquam deleniti ratione.</p>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium vel perferendis quisquam quaerat numquam iure, omnis deserunt id ex reiciendis veniam dolores quasi ea officiis earum! Neque temporibus illum tenetur?
                    Ad ea debitis, qui, hic fugiat error nesciunt obcaecati placeat quod officiis et expedita aut similique, nihil tempora voluptatibus pariatur. Quaerat in nostrum, voluptatibus aliquid distinctio esse. Corrupti, numquam doloribus?
                    Tempore totam voluptatibus consequuntur eaque optio maxime, quae aspernatur quod magnam repudiandae rem molestiae dolorem necessitatibus autem eveniet saepe similique placeat veritatis nobis beatae tempora. Repellendus recusandae dolore ratione praesentium.</p>
                    <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias magnam quidem veniam modi odit vel doloremque dicta ipsum fugit, impedit illo, libero dolorem officia odio quos iure debitis, veritatis ut?</span><span>Doloremque laborum exercitationem accusantium excepturi odio fuga tenetur veritatis qui, atque expedita possimus vel iure sunt quo facilis cumque illum quaerat repellendus tempore animi ipsam! Velit nobis voluptate culpa officiis.</span><span>Enim iste tempore fugit exercitationem, reiciendis, architecto voluptatum maxime velit magni asperiores dignissimos consequuntur ab facilis dolorem commodi adipisci accusamus voluptatem temporibus deserunt voluptate laboriosam aut expedita provident molestiae? Cupiditate.</span></p>

                </section>
                <section id="motivatie">
                    <h2>Motivatie</h2>
                    <p>Motivația, când există, este esențială. Atunci când lipsește, este fatală</p>
                    <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ad vitae accusantium temporibus obcaecati suscipit sit exercitationem dolores deserunt, rerum maxime expedita in id voluptas, cupiditate animi ea, dolore explicabo.</span><span>Fugiat illum sequi ducimus necessitatibus, a nemo aliquam harum fuga accusamus, officiis aut est itaque, minus unde qui consequuntur ab ea laudantium sapiente dignissimos cupiditate veritatis. Harum nostrum nulla at.</span><span>Architecto rem magni perspiciatis necessitatibus unde eveniet distinctio et libero vitae sit accusantium, qui commodi, deleniti dignissimos! Impedit sunt nihil incidunt, ipsa sit repellat saepe, in atque consectetur illo dolor!</span><span>Id, culpa! Ad voluptate assumenda iure eius molestias quo aliquam culpa doloribus amet dolorum perferendis architecto ratione voluptatum sunt odit, exercitationem in! Qui commodi temporibus cum praesentium asperiores, nulla totam?</span></p>
                </section>
                <section id="istoric">
                    <h2>Istoric</h2>
                    <p>Să lăsăm istoria în seama istoricilor.</p>
                    <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, rem numquam nemo nisi itaque rerum blanditiis aspernatur consectetur sapiente quam qui quaerat voluptates fugit, repellendus vel accusamus incidunt omnis molestiae!</span><span>Quas beatae eos quia nulla magni corrupti possimus voluptatum quibusdam consectetur est expedita cumque eaque, architecto ullam reprehenderit accusantium asperiores voluptas dolor aperiam sed dolorum aspernatur pariatur. Officiis, reiciendis perspiciatis.</span><span>Ad reprehenderit voluptatum laudantium distinctio non, quasi natus dolorum quae deserunt facilis assumenda eum labore, porro quos cum sapiente perspiciatis qui quibusdam, sed placeat? Eos sint architecto ea explicabo corrupti?</span><span>Inventore necessitatibus at veniam, corporis maiores consectetur cum commodi nostrum optio distinctio soluta impedit omnis vitae quidem in similique placeat! Sed ut, cupiditate natus ipsam atque rerum tempore vero beatae!</span></p>
                    <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit quasi praesentium beatae esse quas libero iure porro omnis, vel minima consequatur, quaerat, maxime cumque exercitationem ut iste fugit optio debitis!</span><span>Nulla, id suscipit illo voluptates magnam tempore libero, commodi vitae necessitatibus quis perspiciatis. Perspiciatis molestiae quas magni itaque? Velit provident aspernatur ducimus tenetur quaerat suscipit, repudiandae totam corporis nobis eius.</span><span>Aut earum unde, at iure et aspernatur. Adipisci magni aut nobis atque explicabo animi commodi itaque corporis ducimus magnam! Nemo quia quisquam perferendis ullam nesciunt expedita recusandae eaque, aliquid facilis?</span></p>
                </section>
                <section id="galerie">
                    <h2>Galerie TBD</h2>
                    <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime obcaecati laboriosam voluptatum neque cum a suscipit quam in quasi assumenda facilis corporis, repudiandae, optio distinctio explicabo placeat tenetur minima autem?</span><span>Nostrum est at culpa neque soluta animi itaque quis nam, provident quo iste repellendus nesciunt autem ex exercitationem quia velit optio, ab ipsa iusto consequuntur officia accusamus maxime. Numquam, alias.</span><span>Ab neque, aperiam doloribus nemo aspernatur consequatur eveniet ratione voluptatum incidunt vero? Odio, illum! Recusandae, quos cupiditate ad nobis libero quibusdam magnam, expedita perferendis nostrum esse saepe, doloremque eveniet. Esse?</span><span>At totam labore quo eaque nemo mollitia. Consequuntur molestias voluptatem eligendi iusto obcaecati, reiciendis harum modi rem quae culpa itaque delectus optio. Voluptatum minus doloribus quam obcaecati deserunt et laboriosam.</span></p>
                    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ad dolor quisquam! Nemo eaque laboriosam minima. Harum, quas ab cum quasi eos laborum ipsam id, dolor maxime ea, facilis excepturi!</span><span>Cupiditate nesciunt quidem quae, et hic mollitia dicta nulla, error voluptatem, eum iusto id ducimus necessitatibus voluptas quia iste fugiat illo consequuntur pariatur? Qui, totam. Consequuntur blanditiis quibusdam suscipit cumque.</span><span>Quae ipsam ab eius earum incidunt nemo repellat quam maxime, optio iure itaque dolor nobis perferendis culpa veniam consectetur repudiandae sed labore totam sequi architecto quibusdam. Fugit saepe voluptatum ullam.</span></p>
                </section>
            </div> 
        </main>
        
        <%- include("../fragmente/footer.ejs"); %>

    </body>

</html>