<!DOCTYPE html>
<html  lang="ro">
    <head>
      
        <%- include("../fragmente/head.ejs"); %>


        <!--<link rel="stylesheet" href="resurse/css/layout.css" type="text/css" />-->
        <meta name="description" content="pagina2">
        <meta name="keywords" content="cofetarie, Dulcelind, pagina2">
        <title>Cofetăria Dulcelind</title>
   
        <!--
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
        -->
    </head>
    <body>
    
    <%- include("../fragmente/header.ejs"); %>
    
    <main>
        <h2>Test pagina 2</h2>
    </main>

    <%- include("../fragmente/footer.ejs"); %>
    

    </body>
</html>