<footer id="footer">
            
            <!--<a href="#h1">Link la începutul paginii</a>-->

            <a href="/resurse/OOP_and_Java.pdf" download="OOP_in_Java.pdf">Link de download</a>

            <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
            <address>
                Strada Academiei nr. 14, Sector1, București, cod poștal 010014<br>
                <i class="fa-solid fa-phone"></i><a href="tel:+40720309533">Telefon</a><br>
                <i class="fa-solid fa-envelope"></i><a href="mailto:valentin.iclozan27@gmail.com">Contact e-mail</a><br>
                <i class="fa-solid fa-globe"></i><a href="https://maps.app.goo.gl/RSYKDMoizZUCCcAC7">Localizare</a><br>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8841143984396!2d26.09701177574298!3d44.43553930148244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1724520951876!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                <i class="fa-brands fa-whatsapp"></i><a href="https://wa.me/0040720309533">WhatsApp</a><br>
            </address>
            <small>&copy; Valentin Iclozan <time datetime="2024-08-24 23:12:08">2024</time></small>
        </footer>